body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1a1a1a, #3b2d2d);
    color: white;
    text-align: center;
}

.hero {
    padding: 100px 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    background: #c49b63;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
